package icons

import "fmt"

templ MainDrawerIcon(size int) {
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class={ fmt.Sprintf("inline-block w-%d h-%d stroke-current", size, size) }><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
}
