package pages

import (
	"github.com/tuxedocurly/wledger/internal/auth"
	"github.com/tuxedocurly/wledger/internal/db"
	"github.com/tuxedocurly/wledger/web/components"
	"github.com/tuxedocurly/wledger/web/layouts"
)

templ PartCreate(user auth.User) {
	@layouts.Base("Create Part", user) {
		<div class="max-w-4xl mx-auto w-full">
			<div class="mb-8">
				<div class="text-sm breadcrumbs opacity-50 mb-2">
					<ul>
						<li><a href="/parts">Inventory</a></li>
						<li>Create New</li>
					</ul>
				</div>
				<h1 class="text-3xl font-bold">Add New Part</h1>
			</div>
			@components.PartForm(db.Part{}, []db.PartLink{}, []db.PartDoc{}, "/parts", false)
		</div>
	}
}
